
.container{
  margin: 0 auto;
width: 1200px;
}

.box{
  display: flex;
}

.box-footer{
display: flex;
flex-direction:column

}

.logo-contact-nav{
  display: flex;
}

.contac-style {
  display: flex;
  color: rgb(21, 21, 21);
  text-decoration: none;
 list-style: none;
  }

  .nav-style {
  display: flex;
    color: rgb(75, 75, 75);
    text-decoration: none;
    list-style: none;
  }

.body-style{
  margin: 0 auto;
  width: 1600px;
  color: var(--brand-text-color);
  font-family: var(--brand-font);
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}
.container-lorem{
width: 1170px;
  }

.lorem-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.lorem-style-1{
  color:rgb(75, 75, 75)
}

.lorem-style-2{
  color: rgb(21, 21, 21);
}

.logo {
  color: black;
  font-family: "Raleway";
}
.brand-color-logo {
  color: #2196f3;
}

.brand-color-logo2 {
  color: white;
}

a {
  text-decoration: none;
}
a:hover, a:focus {
  color: #2196f3;
}

.nav-style-footer {
  color: rgb(255, 255, 255, 60%);
  text-decoration: none;
  list-style: none;
}

.contact-style-footer{
  list-style: none;
  display: flex;
  flex-direction: column;
}

.baton-style {
  display: flex;
  justify-content: center;
  list-style: none;
}

.baton:hover {
background-color: #2196f3;
color: white;
}

.image-style {
  height: 1360px;
  width: 1170px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.image-p {
  color: rgb(75, 75, 75);
}

.footer {
  background-color: rgb(47, 48, 58);
}

.adress {
  color: white;
}

header{
  width: 1600px;
  height: 80px;
  display: flex;
  display: flex;
  align-items: center;
}

.heading{
  width: 1600px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color:white;
  background-color: #2F303A;
  line-height: 1,36;
}

 .imagine-box{
  width: 1170px;
  height: 386px;
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .imagine-box-team{
  width: 1170px;
  height: 386px;
  top: 1635px;
  left: 215px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F5F4FA;
 }
